<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Edit Blog</title>
    <style>
      .main-body {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-image: url('/images/mainLogo.webp');
        background-size: cover;
        background-position: center;
      }
      .main-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        font-weight: 600;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="main-body">
      <div class="main-form">
        <form action="/blog/edit/<%= locals.blog._id %>" method="post"  style="width: 30vw;">
         

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="title"
              value="<%= locals.blog.title %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <div class="form-floating">
              <textarea
                class="form-control"
                id="autoExpand"
                name="body"
                style="height: 100px; max-height: 40vh; overflow-y: auto"
                required
              ><%= locals.blog.body %></textarea>
              <label for="floatingTextarea2">Edit Here</label>
            </div>
          </div>

          <div class="mb-3">
            <label for="readTime" class="form-label">Read Time (in minutes)</label>
            <input
              type="text"
              class="form-control"
              id="readTime"
              name="readTime"
              aria-describedby="readTime"
              value="<%= locals.blog.readTime %>"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary mt-3">Post Changes</button>
        </form>
      </div>
    </div>

    <div>
      <%- include('./partials/footer') %>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const textarea = document.getElementById("autoExpand");

        textarea.addEventListener("input", function() {
          this.style.height = "auto";
          this.style.height = this.scrollHeight + "px";
        });
      });
    </script>

    <%- include('./partials/scripts') %>
  </body>
</html>
